// begin mixins

border-radius(n)
  -webkit-border-radius: n
  -moz-border-radius: n
  border-radius: n

transition(n)
  -webkit-transition: n
  -moz-transition: n
  transition: n

// end mixins

// begin variables

documentfontsize = 15px

// end variables

*
  -webkit-font-smoothing: antialiased

body
  background: url('arches.png')
  font-size: documentfontsize
    

header
  padding: 10px 10px 0px 20px
  background: #fd1e41
  color: #7e0f20 !important
  text-shadow: 0px 1px 0px rgba(255,255,255,0.25)
  line-height: 50px
  .app-title
    font-size: 50px
    font-weight: bold
  .app-title, img
    padding: 0px
    margin: 0px
  img
    margin-top: -25px

nav
  background: #333
  color: white
  margin: 10px
  padding: 10px 5px
  border-radius(5px)
  .login-button
    text-align: center
    padding: 10px 0px

a.start-conversation
  text-decoration: none
  color: white
  display: block

.user
  margin: 0px -5px
  padding: 2px 10px
  transition(padding 0.1s linear)

.user:hover, .user.active
  background: #fd1e41
  padding: 2px 10px 2px 20px
  color: white

.messages
  width: 100%
  cursor: default
  background: white !important
  border: 1px solid rgba(0, 0, 0, 0.1)
  margin-top: 10px
  line-height: 18px
  font-size: documentfontsize

.btn
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none